<h3>{{currentUser?.user?.email}}</h3>
<ul>
    <li>
        <a routerLink="/home">Home</a>
    </li>
    <li>
        <a routerLink="/about">About</a>
    </li>
    <li>
        <a routerLink="/demo">Demo</a>
        <ul>
            <li>
                <a routerLink="/demo/binding">Binding</a>
            </li>
            <li>
                <a routerLink="/demo/pipe">Pipe</a>
            </li>
            <li>
                <a routerLink="/demo/directive">Directive</a>
            </li>
            <li>
                <a routerLink="/demo/directive2">Structural Directive</a>
            </li>
            <li>
                <a routerLink="/demo/inputoutput">Input / Output</a>
            </li>
            <li>
                <a routerLink="/demo/movies">Movies</a>
            </li>
        </ul>
    </li>
    <li>
        <a routerLink="/exo">Exo</a>
        <ul>
            <li>
                <a routerLink="/exo/chrono">Chrono</a>
            </li>
        </ul>
    </li>
</ul>