<ul>
    <li>
        <a routerLink="/home">Home</a>
    </li>
    <li>
        <a routerLink="/about">About</a>
    </li>
    <li>
        <a routerLink="/demo">Demo</a>
        <ul>
            <li>
                <a routerLink="/demo/binding">Binding</a>
            </li>
            <li>
                <a routerLink="/demo/pipe">Pipe</a>
            </li>
        </ul>
    </li>
    <li>
        <a routerLink="/exo">Exo</a>
        <ul>
            <li>
                <a routerLink="/exo/chrono">Chrono</a>
            </li>
        </ul>
    </li>
</ul>