* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.chapter {
    margin: 20px auto;
    background-color: beige;
    border: 3px solid black;
    width: fit-content;
    padding: 10px;

    h2 {
        background-color: black;
        color: white;
    }
}

a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

button {
    background-color: black;
    color: white;
    padding: 3px;
    margin: 3px;
}

button:disabled {
    background-color: gainsboro;
    color: grey;
}